apiVersion: v1
kind: Service
metadata:
  name: poc-distributed-scheduling
  annotations:
    prometheus.io/port: "8181"
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
  labels:
    run: poc-distributed-scheduling
spec:
  type: ClusterIP
  ports:
    - port: 8181
      protocol: TCP
      name: http
    - port: 8101
      protocol: TCP
      name: karaf-ssh
    - port: 47500
      protocol: TCP
      name: ignite-discovery
  selector:
    run: poc-distributed-scheduling
---
apiVersion: v1
kind: Service
metadata:
  name: poc-test-driver
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
    prometheus.io/path: "/prometheus"
  labels:
    run: poc-test-driver
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http
    - port: 8990
      protocol: TCP
      name: grpc
    - port: 9980
      protocol: TCP
      name: test-tcp-connector
  selector:
    run: poc-test-driver
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: default
  name: role-endpoints
rules:
#- apiGroups: ["extensions", "apps"]
- apiGroups: ["", "*"]
  resources: ["endpoints"]
  verbs: ["get", "list"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: role-endpoints-rb
subjects:
- kind: ServiceAccount
  name: default
  namespace: default
roleRef:
  kind: Role
  name: role-endpoints
  apiGroup: ""
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-distributed-scheduling
spec:
  selector:
    matchLabels:
      run: poc-distributed-scheduling
  replicas: 3
  template:
    metadata:
      labels:
        run: poc-distributed-scheduling
      annotations:
        linkerd.io/inject: enabled
        config.linkerd.io/opaque-ports: "47100,47500"
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: minion-cfg-files
      initContainers:
      - name: init-sysctl
        image: busybox
        command:
        - sysctl
        - -w
        - net.ipv4.ping_group_range=0 429496729
        securityContext:
          privileged: true
      containers:
        - name: poc-ignite-worker
          image: opennms/distributed-scheduling-poc:local
          imagePullPolicy: Never
          env:
            - name: poc_network_stat_enable
              value: "true"
            - name: poc_network_stat_interval
              value: "30000"
            - name: poc_worker_ignite_kubernetes
              value: "true"
            - name: USE_KUBERNETES
              value: "true"
            - name: KUBERNETES_SERVICE_NAME
              value: "poc-distributed-scheduling"
            - name: JAVA_TOOL_OPTIONS	# Advertise to Skaffold that this is a JVM-based container (for debugging support)
              value: ""
          ports:
            - containerPort: 8181
          volumeMounts:
            - name: config-volume
              mountPath: "/opt/karaf/etc/org.opennms.core.ipc.grpc.client.cfg"
              subPath: "grpc-config"
            - name: config-volume
              mountPath: "/opt/karaf/etc/org.opennms.identity.cfg"
              subPath: "opennms-identity"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-test-driver
spec:
  selector:
    matchLabels:
      run: poc-test-driver
  replicas: 1
  template:
    metadata:
      labels:
        run: poc-test-driver
      annotations:
        linkerd.io/inject: enabled
    spec:
      containers:
        - name: poc-test-driver
          image: opennms/ds-poc-test-driver
          imagePullPolicy: Never
          env:
            - name: management_endpoints_web_exposure_include
              value: "*"
          ports:
            - containerPort: 8080
            - containerPort: 8990
            - containerPort: 9980
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minion-cfg-files
data:
  grpc-config: |
    host=poc-test-driver
  opennms-identity: |
    identity.id=${env:HOSTNAME:-UNKNOWN}
    identity.location=${env:LOCATION:-cloud}
